# Git
.git
.gitignore

# Docker-specific files
Dockerfile
docker-compose.yml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Frontend
frontend/openapitools.json
frontend/src/api/**
node_modules

# Project Specific
/v400_monitor
/docs
/config.yaml
